.page_container{
    background-color: rgb(255, 255, 255);
    height: calc(100vh - 50px);
    display: flex;
    justify-content: center;
}

.about_container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 800px;
    height: 300px;
    margin-top: 25vh;
    gap: 50px;
}

.image{
    border-radius: 20px;
}

.description{
    width: 600px;
}

.description_title1{
    color: rgb(0, 26, 255);
    font-size: 15px;
    font-weight: 800;
    margin-bottom: 10px;
}
.description_title2{
    color: rgb(0, 0, 0);
    font-size: 20px;
    font-weight: 800;
    margin-bottom: 10px;
}

.description_text{
    text-align: justify;
}