*{
    font-family: 'Poppins';
}
html {
  scroll-behavior: smooth;
}
body{
    margin: 0;
}


::-webkit-scrollbar {
    width: 10px;
    background-color: hsl(244, 24%, 26%);
  }
  
 
  ::-webkit-scrollbar-thumb {
    border-radius: 20px;
    background-color: rgba(255, 255, 255, 0.27);
  }
  
  