.navbar {
    width: 100vw;
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: hsla(0, 0%, 100%, 0);
    align-items: center;
    color: rgba(0, 0, 0, 0.336);
    backdrop-filter: blur(8px);
}

.logo{
    margin-left: 6vw;
    font-size: 25px;
    font-weight: 900;
}

.nav_links {
    display: flex;
    width: 30vw;
    justify-content: space-between;
    flex-direction: row;
    margin-right: 6vw;
}
.mobile_menu{
    display: none;
    color: rgb(0, 0, 0);
    margin-right: 6vw;
}
.menu_icon{
    width: 20px;
}

.nav_link {
    font-size: 17px;
    font-weight: 500;
}
.a{
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-weight: 600;
}
.a:hover{
    color: rgba(0, 0, 0, 0.336);
    border-bottom: 2px solid rgba(0, 0, 0, 0.336);
}

@media (max-width: 820px) {
    .nav_links{
        display: none;
    }
    .mobile_menu{
        display: flex;
    }
}